@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


:root {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    --red: #C30A0A;
    --bg: #F4F0F1;
    --black: #070E46;
    --back: #EDF2F0;
    --neu-1: #f6f3f3;
    --neu-2: #d4c9c9;
    --soft-shadow: #E6EAF6;
    --hard-shadow: #e9e9e9;

    --white: #f9f9f9;
    --gray: #a0a5a8;
    --black: #181818;

    --purple: #032ba5;

    --ladoX: 60px;
    --ladoY: 60px;
    --esquina: 100%;

    --font-title: "Bebas Neue", sans-serif;
    --font-content: "Montserrat", sans-serif;

    
}

/* ----------------------------------------------------- */


body {
    font-size: 1rem;
    background-color: var(--bg);
	color: var(--black);
    max-width: 1242px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


h1,h2,h3 {
    font-family: var(--font-title);
    font-weight: normal;
}

h1 { font-size: 5rem; }
h2 { font-size: 3rem; }
h3 { font-size: 1.5rem; }


p {
    font-family: var(--font-content);
}

button {
    margin-left: auto;
    font-family: var(--font-title);
    font-size: 1rem;
    background-color: var(--red); 
    border: none;              
    color: var(--white);             
    padding: 1rem 4rem;                    
    border-radius: 5rem;       
    box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;

}

button:hover {
    background-color: var(--white); 
    color: var(--red);
    box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset -10px -10px 10px 0px var(--bg), inset 10px 10px 10px 0px var(--neu-2);
    border: none;
}

.loup{
    padding-top: 2rem;
    margin-top: 2rem;
}

/* ----------------------------------------------------- */


header {
    display: flex;
    align-items: center;
    padding: 1rem; 
    width: 100%;
    margin: 0;
    box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
    border-radius: 0 0 1rem 1rem ;

}

header button {
        position: relative;
        display: inline-block;

      }
      


nav {
    margin-right: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a {
    font-family: var(--font-title);
    font-size: 1.5rem;
    color: var(--red); 
    text-decoration: none; 
    padding: 0 1rem;
    transition: background-color 0.3s;
}


nav a:hover:not(.active) { 
    color: black; 
    text-decoration: underline;
    font-size: 1.7rem;
    cursor: url('images/cursor6.svg'), auto;
}
 


/* ----------------welcome------------------------------------- */ 

.welcome {
    display:flex;
    align-items:center;
    gap: 10rem;
}
.title-left {
    margin: 4rem 2rem;
    display: block;
    text-align: left; 
    color: var(--black);
    padding: 1rem;
    width: 40%;
}

.title-left h3{
    margin-top: -2rem;
}

.welcome-img {
    width:42rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 8rem;
    /* box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff; */

}

.welcome-button {
    margin-top: -5rem;
    margin-left: 2rem;
    display:flex;
    align-items:start;
    gap: 3rem;
    float: left;

}

main {
    padding: 1rem;
    text-align: center; 
    color: var(--black);
}

main img {
    max-width: 1242px;
}

main button {
    margin-top: 2rem;
}


/* ------------------logos----------------------------------- */

.logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    padding: 3rem 10rem;
    gap: 2rem;
    background-color: var(--white);
    border-radius: 2rem;

}

.logo-section h3{
    margin-top: 1rem;
}

.logo-section img {
    width: 100px;
    height: auto;
    opacity: 0.7;
    filter: grayscale(100);
    transition: opacity 0.3s ease;
}

.logo-section img:hover {
    opacity: 1;
}





/* ------------------trabajos----------------------------------- */

.cover_coinhabit {
    background-image: url('images/Coinhabit/coinhabit3.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: left;
    text-align: left;
    height: 600px;
    width: 1242px;
    transform: scale(1);
}

/* .cover_bbva {
    background-image: url('images/BBVA/vela.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: left;
    text-align: left;
    height: 800px;
    width: 100%;
    transform: scale(1);
} */

.video_coinhabit {
    margin:auto;
    justify-content: center;
    width: 40rem; 
    align-items: center;
}

/* .video_process {
    width: 1241px; 
    max-width:450px;
} */
.context {
    display: flex;
    margin: 8rem auto; 
    color: var(--black);
    justify-content: center;
    align-items: center;
    width: 80%; 
    max-width:1242px;
    /* padding: 2rem; */
    border-radius: 2rem;
    gap: 3rem;
    text-align: center;
    /* border: thin solid black; */ 
    /* /* position: relative;
    animation: mymove 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; */
}



  .renders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    background-size: cover;
    gap: 0;
    row-gap: 0;
  }  

.renders video {
    width: 640px;
    height: 400px;
    object-fit: cover;
}

.ejemplos {
    width: 640px;
    height: 400px;
    object-fit:cover;
}

.ContainerCenter{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* Input */
  input{display: none}
  
  .carrusel {
    width: 944px; /* Ancho ajustado */
    height: 510px; /* Alto ajustado */
    scale: 1.4;
    margin: 6rem auto  ;
    overflow: hidden;
    position: relative;
    border: 2px solid #ccc;
}
.slides {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; /* Ancho fijo */
}
.slide {
    min-width: 944px; /* Ancho de cada página ajustado */
    height: 510px; /* Alto de cada página ajustado */
}
canvas {
    width: 100%;
    height: auto;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}
.arrow-left {
    left: 10px;
}
.arrow-right {
    right: 10px;
}

/* ------------------side proyects----------------------------------- */ 


.container {
 
    justify-content: center;
    max-width: 944px;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 944px;
} */

.card {
    position: relative; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;  

    border-radius: 8px;  
    height: 300px;
    width: 400px;
  
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.05); 
    transition: background-color 0.3s ease;
    overflow: hidden; 
}

.card::before ,.image{
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 450px;
    background-image: inherit; 
    background-size: cover; 
    background-position: center; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    z-index: 1;
    filter: brightness(100%); 
}

.image{
    width: 100%;
    height: 100%;
}

.card:hover::before ,.image:hover, .image:after {
    opacity: 1;
 }

 .card:hover .title {
    opacity: 0; 
}

.title {
    margin: 0; 
    color: var(--black); 
    z-index: 3; 
    position: relative; 
    transition: opacity 0.3s ease; 
}




.tags {
    position: absolute;
    top: 10px;
    left: 10px;
    
}

.tag {
    background-color: var(--bg);
    border: 1.5px solid var(--red);
    border-radius: 5rem;
    color: var(--red);
    font-family: var(--font-title);
    padding: 0.5rem 2rem;

    margin-right: 5px;
    font-size: 1rem;
    z-index: 4;
    position: relative;

}




/* ------------------about----------------------------------- */ 

.about {
    display: flex;
    margin: 0 auto; 
    color: var(--black);
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width:944px;
    padding: 4rem;
    border-radius: 2rem;
    gap: 3rem;
    background-color: var(--neu-1);
	box-shadow:
		10px 10px 10px var(--neu-2),
		-10px -10px 10px white;
}


.about img {
        max-width: 40%; 
        height: 70%; 
        width: 90%;
}


/* ------------------gallery----------------------------------- */ 

   
.responsive {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    background-size: cover;
    gap: 0;
    row-gap: 0;
  }  


.gallery img:hover {
    box-shadow: 0 25px 50px 10px rgb(0 0 0 / 0.25);
    width: 0%;
    transform: scale(1);
    z-index: 2;
    position: relative;
    transition: 1s;
    border-radius: 0.5rem;
    width: 200%; 
    height: 100%;
  }
  
  
 .gallery img {
    width: 100%;
    height: auto;
    filter: brightness(100%);
    object-fit: cover;
    width: 200px; 
    height: 200px;
    gap: 0;
    row-gap: 0;

  }

/* 
.gallery1{
    position: relative;
    width: 400px;
    height: 300px;
    perspective: 1000px;
}
.comic {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform-origin: left; 
    transition: transform 0.6s;
}

.comic:hover{
    transform: rotateY(180deg);
} */

/* ------------------card proyects----------------------------------- */ 

.proyect {
    display: flex;
    margin: 2rem auto; 
    color: var(--black);
    justify-content: center;
    font-family: var(--font-title);
    align-items: center;
    padding: 4rem;
    border-radius: 2rem;
    gap: 10rem;
    background-color: var(--white);
	/* box-shadow:
		10px 10px 10px var(--neu-2),
		-10px -10px 10px white; */
}

.proyect button{
    margin-top: 3rem;
    background-color: var(--red);
    color: var(--white);
    border: none;
}

.proyect button:hover{
    background-color: var(--white); 
    color: var(--red);
    box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset -10px -10px 10px 0px var(--bg), inset 10px 10px 10px 0px var(--neu-2);
    border: none;
}




/* ----------------------More proyects------------------------------- */ 

.content {
    display: flex;
    margin: 4rem auto; 
    justify-content: center;
    color: var(--black);
    max-width: 1000px;
    gap: 5rem;
    position: relative;
}


.content button{
    padding: 1rem 5rem ;
}



/* ----------------------Chat------------------------------- */ 

form {
    display: block;
    align-items: center;
    height: 200px;
}
.email{
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    position:relative;
}

input{
    width:80%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid var(--red);
    font-family: var(--font-content);
}
input:focus{
    border-bottom:2px solid var(--black)
}

p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}

textarea {
        width: 100%;
        height: 150px;
        padding: 1rem 0 0 0.5rem;
        font-family: var(--font-content);
        border-bottom:2px solid var(--red)
} 


.contact{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
margin-top: 2rem;
    border-radius: 0.5rem;
}

/* ----------------------process------------------------------- */ 

.work {
    text-align: center; 
    padding-top: 2rem;
    max-width: 800px;
}

.process {
    width: 60%;
    filter: brightness(99%); 
    
}

.card-process {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
    font-family: var(--font-title);
    font-weight: normal;
    color: var(--black);  
    margin-bottom: 2rem;
}

/* .card1 h1 {
    font-family: var(--font-title);
}

.card1 {
    background: var(--neu-1);
    border: none;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
} */

.card_definition {
    width: auto;
    height: auto;
    background-color: var(--neu-1);
    text-align: center;
    /* border: 10px solid #eee; */
    border-radius: 2px;
    /* box-shadow: inset 5px 5px 10px #bbb, inset -5px -5px 10px #fff; */
    transition: 0.5s;
  }
  
  .card_deinition:hover {
    height: auto ;
  }
  
  .icon1 {
    width: 150px;
    height: 60px;
    color: var(--black);
    font-size: 3rem;
    background-color: var(--neu-1);
    margin: 20px auto;
    padding: 5px;
    border-radius: 10%;
    box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
  }
  
  .text {
    color: var(--black);
    background-color: var(--neu-1);
    padding: 10px;
    margin: 5px 20px;
    border-radius: 8px;
    box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
    transform: translateY(-80px) scale(0);
    transition: all 0.5s;
  }
  
  .card_definition:hover .text {
    transform: translateY(0) scale(1)
  }
  
  .text h3 {
    text-shadow: 2px 2px 0px #fff;
  }



/* ----------------------footer------------------------------- */ 

.loup {
    opacity: 1 !important;
    width: 944px;
    filter: none;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;

    border-radius: 0.5rem;
}


.RRSS {
    display: flex;
    margin-left: 5%;               
    border-radius: 0.5rem;
    gap: 0.5rem;
}

.RRSS button {
    padding: 1rem 1.2rem ;
    background-color: var(--red);              
    color: var(--white);  
    border: none;                                  
}

.RRSS button:hover {
    background-color: var(--white); 
    color: var(--red);
    box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset -10px -10px 10px 0px var(--bg), inset 10px 10px 10px 0px var(--neu-2);
    border: none;
}








/* Media Queries */

@media (max-width: 800px) {
 
    h1{
        font-size: 230%;
        }
    
    /* ............................................. */
    
    nav a{
        display: block;
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        gap: 10%;
    }


    /* ............................................. */

    main{
        margin: 10%;
    }
    main h1{
        font-size: 250%;
        width: 100%;
    }
    main p{
        font-size: 70%;
        width: 100%;
    }

    /* ............................................. */

    .proyect {
        font-size: 0.7rem; 
        width: 70%;
        flex-wrap: wrap;
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .proyect video,
    .proyect img {
        max-width: 90%; 
        height: 90%; 
        width: 100%;
    }

    /* ............................................. */  
    
    .about{
        font-size: 0.7rem; 
        width: 70%;
        flex-wrap: wrap;
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        display:block;
    }
    .about img{
        min-width: 70%;
    }

    /* ............................................. */

    .responsive {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
     }

    /* ............................................. */


    .content {
        font-size: 0.7rem; 
        width: 80%;
        margin:10%
    }
    
    .content h1 {
        font-size: 300%;

    }

    /* ............................................. */

    .card-process {
        max-width: 100%;
        font-size: 50%;
    }

    /* ............................................. */

    .loup {
        display: none;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        font-size: 10%;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding-top: 4rem;
    }
    footer h1{
        font-size: 1500%;
    }
    
}

@media (max-width: 500px) {
 
    h1{
    font-size: 200%;
    }

    /* ............................................. */

     nav a{
        display: block
    } 

    a{
        font-size: 80%;
    } 

    /* ............................................. */

    main{
        margin: 10%;
    }
    main h1{
        font-size: 250%;
        width: 100%;
    }
    main p{
        font-size: 70%;
        width: 100%;
    }

    /* ............................................. */

    .proyect {
        font-size: 0.5rem; 
        width: 55%;
        flex-wrap: wrap;
        flex-direction: column; 
        align-items: center; 
        text-align: center; 

    }

    .proyect video,
    .proyect img {
        max-width: 90%; 
        height: 90%; 
        width: 100%;
    }

    /* ............................................. */

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        height: 300px;
        width: 300px; 
    }
    
    .card::before ,.image{
        width: 350px;
        object-fit: cover;
     }

    /* ............................................. */

    .responsive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
     }

    /* ............................................. */

    .about{
        font-size: 0.7rem; 
        width: 50%;
        flex-wrap: wrap;
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .about img{
        min-width: 50%;
    }

    /* ............................................. */

    .content {
        font-size: 0.5rem; 
        width: 200px;
        margin:10%
    }
    
    .content h1 {
        font-size: 300%;

    }
    
    /* ............................................. */

    .card-process {
        display: flex;
        flex-wrap: wrap;
        font-size: 50%;
        justify-content: center;
    }

    /* ............................................. */   

    .loup {
        display: none;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        font-size: 10%;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
    footer h1{
        font-size: 1500%;
    }

}

@media (max-width: 390px) {
    
    .body{
        margin: 7rem;
        font-size: 30%;
    }

    h1{
        font-size: 200%;
        }
    
    /* ............................................. */   

    nav a{
        display: block
    } 

    a{
        font-size: 70%;
    }

    /* ............................................. */   
 
    .main{
        font-size: 10%;
    }

    /* ............................................. */   

    .proyect {
        font-size: 0.5rem;
        width: 55%;
        flex-wrap: wrap;
        flex-direction: column; 
        align-items: center; 
        text-align: center; 

    }

    .proyect video,
    .proyect img {
        max-width: 100%; 
        height: 100%; 
        width: 100%;
    }

    /* ............................................. */

    .responsive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }

    /* ............................................. */


    .about{
        font-size: 0.7rem; 
        width: 50%;
        flex-wrap: wrap;
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }
    .about img{
        min-width: 100%;
    }


    /* ............................................. */   

    .content {
        font-size: 0.5rem; 
        width: 200px;
    }
    
    .content h1 {
        font-size: 300%;

    }

    /* ............................................. */

    .card-process {
        max-width: 100%;
        font-size: 50%;
    }

    /* ............................................. */   

    .loup {
        display: none;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        font-size: 10%;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
    footer h1{
        font-size: 1500%;
    }
    
}

